/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/public/assets
/public/uploads/
.byebug_history
/config/master.key
.idea
.env*
/node_modules
/public/packs
/public/packs-test
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.DS_STORE
